<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.scheduleWithGA.dao.interfaces.IScheduleDAO">
    <insert id="save" parameterType="com.solvd.scheduleWithGA.binary.Schedule" keyProperty="idSchedule">
        INSERT Schedule (timeSlotId, teacherId, lessonInGroupId, classroomId)
        values (#{timeSlotId}, #{teacherId}, #{lessonInGroupId}, #{classroomId});
    </insert>
</mapper>